body {
    font-family: $main-font-family, $secondary-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    background: $primary-bg-color;
}

.overflow-hidden {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px){
    .container{
        width: 100%;
        max-width: 480px;
        min-width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}