.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio__visually-hidden {
    margin: 0;
    padding: 0;
}

@media screen and (min-width:1200px){
    .portfolio{
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
