.address{
    min-width: 231px;
}

.address__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.address__item:not(:last-child) {
    margin-bottom: 12px;
}

.address__link {
    display: block;
    text-decoration: none;
    color: $footer-contacts-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
}

.address__link--color {
    color: $secondary-text-color;
}