// Colors
$primary-bg-color: #FFFFFF;
$secondary-br-color: #F5F4FA;
$footer-hero-color: #2F303A;
$primary-header-color: #212121;
$accent-color: #2196F3;
$primary-text-color: #757575;
$secondary-text-color: #FFFFFF;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$company-name-color: #000000;
$portfolio-border-color: #EEEEEE;
$header-border-color: #ECECEC;
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$svg-primary-color: #AFB1B8;
$footer-links-bg-color: rgba(255, 255, 255, 0.1);
$portfolio-example-overlay: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$occupation-backdrop-color: rgba(47, 48, 58, 0.8);
$secondary-accent-color: #188CE8;

//Fonts
$main-font-family: 'Roboto';
$secondary-font-family: sans-serif;

// Animation
$animation-duration: 250ms;
$animation-time-function: cubic-bezier(0.4, 0, 0.2, 1);