.hero{
    padding: 118px 0;
    text-align: center;
}

.hero__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;

    color: $secondary-text-color;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
}

.overlay {
    max-width: 480px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
        url(../images/img_hero.jpg);
    background-color: $footer-hero-color;
}

@media screen and (min-width: 768px){
    .overlay {
        max-width: 768px;
        background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
            url(../images/img_hero2.jpg);
    }

}

@media screen and (min-width: 1200px){
    .hero {
        padding: 200px 0;
    }

    .hero__title {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }

    .overlay {
        max-width: 1600px;
        min-height: 600px;
        background-image: linear-gradient(to right, $hero-gradient-color, $hero-gradient-color),
            url(../images/img_hero3.jpg);
    }
}